[package]
name = "kubetui"
version = "1.0.0"
authors = ["kosay <ekr59uv25@gmail.com>"]
edition = "2021"
license = "MIT"
description = "kubernetes terminal user interface"
repository = "https://github.com/sarub0b0/kubetui"
keywords = ["kubernetes", "tui", "terminal", "monitor"]

[features]
default = []
mock = []
mock-failed = []
new-log-stream = []
stack-widget = []
new-text = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossbeam = "0.8"
clap = { version = "4", features = ["wrap_help", "derive", "cargo"] }

# ansi
nom = "7.1.1"

# clipboard
base64 = "0.13"
wsl = "0.1"
arboard = "3.2.0"

# tui
tui = { git = "https://github.com/sarub0b0/tui-rs.git", features = ["crossterm"], version = "*" }
unicode-segmentation = "1.10"
unicode-width = "0.1"
rayon = "1.5"
crossterm = "0.25.0"
derivative = "2.2"
fuzzy-matcher = "0.3"
chrono = "0.4"
enum_dispatch = "0.3"
async-trait = "0.1"

# log
log = "0.4"
log4rs = { version = "1", default-features = false, features = ["file_appender", "json_encoder"]}

kube = { version = "0.75", default-features = false, features = ["openssl-tls", "client"] }
k8s-openapi = { version = "0.16", default-features = false, features = ["v1_25"] }
futures = "0.3"
bytes = "1"
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }
http = "0.2"
serde_json = "1.0"
serde_yaml = "0.8"
serde = { version = "1.0", features = ["derive"] }
hyper = { version = "0.14", optional = true }

thiserror = "1"
anyhow = "1"


ctrlc = { version = "3.2.3", features = ["termination"] }
once_cell = "1.16.0"

[dev-dependencies]
pretty_assertions = "1.3.0"
indoc = "1.0.7"
mockall = "0.11.3"
mockall_double = "0.3.0"
tokio = { version = "1", features = ["rt", "rt-multi-thread", "macros"] }
rstest = "0.15.0"

[[example]]
name = "stack_view"
required-features = ["stack-widget"]

[[example]]
name = "new_text"

