[package]
name = "kubetui"
version = "1.3.0"
authors = ["kosay <ekr59uv25@gmail.com>"]
edition = "2021"
license = "MIT"
description = "An intuitive Terminal User Interface (TUI) tool for real-time monitoring and exploration of Kubernetes resources."
documentation = "https://github.com/sarub0b0/kubetui"
repository = "https://github.com/sarub0b0/kubetui"
keywords = ["kubernetes", "tui", "terminal", "monitor"]
exclude = ["assets/*", "test/*", "Makefile", "shell.nix", "screenshots/*", ".taplo.toml"]

[features]
default = ["kube/rustls-tls"]
openssl-tls = ["kube/openssl-tls"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossbeam = "0.8"
clap = { version = "4", features = ["wrap_help", "derive", "cargo"] }

# ansi
nom = "7.1.3"

# clipboard
arboard = "3.2.0"
base64 = "0.21"

# tui
async-trait = "0.1"
chrono = "0.4"
crossterm = "0.26.1"
derivative = "2.2"
enum_dispatch = "0.3"
fuzzy-matcher = "0.3"
ratatui = "0.21.0"
rayon = "1.7"
unicode-segmentation = "1.10"
unicode-width = "0.1"

# log
log = "0.4"
log4rs = { version = "1", default-features = false, features = ["file_appender", "json_encoder"] }

bytes = "1"
futures = "0.3"
http = "0.2"
k8s-openapi = { version = "0.18", default-features = false, features = ["v1_26"] }
kube = { version = "0.83", default-features = false, features = ["client"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8"
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }

thiserror = "1"
anyhow = "1"

ctrlc = { version = "3.4.0", features = ["termination"] }
once_cell = "1.18.0"

[dev-dependencies]
pretty_assertions = "1.3.0"
indoc = "2.0.1"
mockall = "0.11.4"
mockall_double = "0.3.0"
tokio = { version = "1", features = ["rt", "rt-multi-thread", "macros"] }
rstest = "0.17.0"
