name: Release

on:
  push:
    tags:
      - "*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        target:
          - x86_64-pc-windows-msvc
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - x86_64-apple-darwin
          - aarch64-apple-darwin
        include:
          - target: x86_64-pc-windows-msvc
            os: windows-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: aarch64-apple-darwin
            os: macos-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4

      - name: Install musl-tools
        if: matrix.target == 'x86_64-unknown-linux-musl'
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - uses: actions/upload-artifact@v4
        if: matrix.os == 'windows-latest'
        with:
          name: ${{ matrix.target }}
          path: target/${{ matrix.target }}/release/kubetui.exe

      - uses: actions/upload-artifact@v4
        if: matrix.os != 'windows-latest'
        with:
          name: ${{ matrix.target }}
          path: target/${{ matrix.target }}/release/kubetui

  release:
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - x86_64-pc-windows-msvc
          - x86_64-apple-darwin
          - aarch64-apple-darwin
        include:
          - target: x86_64-unknown-linux-gnu
            artifact_name: kubetui

          - target: x86_64-unknown-linux-musl
            artifact_name: kubetui

          - target: x86_64-pc-windows-msvc
            artifact_name: kubetui.exe
            file_ext: .exe

          - target: x86_64-apple-darwin
            artifact_name: kubetui

          - target: aarch64-apple-darwin
            artifact_name: kubetui

    runs-on: ubuntu-latest

    needs:
      - build

    steps:
      - name: Download binaries
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.target }}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.artifact_name }}
          asset_name: kubetui-${{ matrix.target }}${{ matrix.file_ext }}
          tag: ${{ github.ref }}
